{% extends "base.html" %}

    <div align="center" class="started">

{% block body %}
<div class="circle">
    <button class="btn">Home</button>
    <button class="btn ">About</button>
    <button class="btn ">Services</button>
    <button class="btn ">contact</button>
</div>
<div class="home">
    <h2 ><i>FreQuencY</i></h2>
        <p class="p1"><i>We’re unlocking community knowledge in a new way.</i></p>
        <p class="p2">For the latest Jobs that match your profile, Sign Up
            for job alerts and be first in line.</p>
        </div>

<div class="container">
       
    <div class="sign.box"  align="center">


        <form action="/get_input" method= "POST">
            <div class="input_group">
                <button class="get">Get Started</button><br><br>
                <div>
                    <i class="fa-solid fa-user"></i>
                    <input class="king1" type="text" placeholder="Name" name="name">
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <input class="king2" type="Email" placeholder="Email" name="Email">
                </div>
                <div>
                    <i class="fa-solid fa-lock"></i>
                    <input class="king1" type="password" placeholder="password" name="password">
                </div>
            </div>

        </form>
       
    </div>
    <table>
       
        {% for data in users %}
        <tbody>
           <td>{{data.id}}</td>
           <td>{{data.name}}</td>
           <td>{{data.email}}</td>
           <td>{{data.password}}</td>

        </tbody>
        {% endfor%}
     </table>

    <div class="body">
        <h1>FreQuencY</h1>
        <p>FreQuencY WORLD,
            we are dedicated to connecting every individual in Kenya with their dream job. <br> Our platform is designed
            to be user-friendly, efficient, and tailored to meet the diverse needs of job seekers and employers alike.
        </p>
        <div>
            <button align="left" ><a href="{{ url_for('jobs') }}">see jobs</a></button>
        </div>
    </div>

    <div class="Upload">
        <h1>Services</h1>
        <p>FreQuencY, a professional networking platform used for recruitment purposes. <br> It provides valuable
            insights and best practices for posting job vacancies online.</p>
        <div>
            <button><a href="{{ url_for('upload') }}">upload</a></button>        
        </div>
    </div>

<div class="main">
        <p align="center", class="p3">Your City has it all, so we're making <br> It easy to share. </p>

    <div class="image">
         <div class="Million">
            <h1>Trusted by over Million kenyans</h1>
         </div>

    </div>
</div>



<div class="container companies">
    <h1 align="center">Companies hiring</h1>
    <button class="safaricom">PAJAMAS
        <p> Join our development team to create groundbreaking software solutions.</p>
    </button>
    <button class="safaricom">SAFARICOM
        <p> Be part of projects that challenge and inspire you.</p> 
    </button>
    <button class="safaricom">KPLC
        <p> If you are passionate about technology, we want to hear from you.</p>
    </button>

    <button class="safaricom">JUMIA
        <p> Ni Jumia tu!</p>
    </button>

    <div align="center">
        <br><br>
        <button>Learn More</button>    
    </div>

    



            
 
</div>








{% block footer %}
<div class="footer">

<div class="employee">
    <h1>Employee</h1>
    Personal traits and attributes. <br>Work experience. <br> Professional accreditations and certifications. <br> Physical ability. <br> Specific knowledge.
</div>

<div class="employer">
    <h1 align="center">Employer</h1>
    <div align="center">
    Offers flexible work schedules. <br> Great communication skills. <br> Financial benefits. <br> Promotes empowerment. <br> Supportive.
</div> 

<div class="Work">
    <h1>Work with us</h1>
    <div>
        Careers <br> Advertisers
    </div>
</div>

</div>


<div>Trusted in Kenya.<br></div>

<center>
    <div class="social">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
    </div>
</center>
<div class="Location" , align="center">Nairobi Kenya</div>

</div>

</div>

{%- endblock %}
<script src="https://kit.fontawesome.com/b083fddeb6.js" crossorigin="anonymous"></script>
{% endblock body %}