{% extends 'base.html' %}



{% block body %}
<div class="Container2">
    <div Intro>
        <h1>For a better living</h1>
    </div>
    <div align="center">
        <button class="btn">Home</button>
    </div>

    <div class="display">
        <div class="posting">
            <button class="forbutton"></button> 
            CEO Kenya POwer <br> Ksh.40,000 - 50,000 <br> Nairobi Kenya 
            <div class="apply"><button>Apply</button>
             </div> 
        </div>


        <div class="posting">
            <button class="forbutton"></button>
            Landlord Negro State <br> 200,000 (yearly) <br> Rwanda
            <div  class="apply"><button>Apply</button> </div> 
        </div>
    

        <div class="posting">
            <button class="forbutton"></button>
            CEO Kenya POwer <br> Ksh.40,000 - 50,000 <br> Nairobi Kenya
            <div  class="apply"><button>Apply</button> </div> 
        </div>

        <div class="posting">
            <button class="forbutton"></button>
            Landlord Negro State <br> 200,000 (yearly) <br> Rwanda
            <div  class="apply"><button>Apply</button> </div> 
        </div>

        <div class="posting">
            <button class="forbutton"></button>
            CEO Kenya POwer <br> Ksh.40,000 - 50,000 <br> Nairobi Kenya
            <div  class="apply"><button>Apply</button> </div> 
        </div>

        <div class="posting">
            <button class="forbutton"></button>
            Landlord Negro State <br> 200,000 (yearly) <br> Rwanda
            <div  class="apply"><button>Apply</button> </div> 
        </div>    
    </div>

    <div align="center" class="profile">THE HOME OF YOUR DREAM JOB</div>

    <div class="search", align="center">
        <form action="" class="bar">
            <input type="text" placeholder="Search Job" name="Q">
            <i class="fa-solid fa-magnifying-glass"></i> 
        </form>
    </div>

    <div class="star" align="center">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
       

    </div>
<div>

    <script src="https://kit.fontawesome.com/b083fddeb6.js" crossorigin="anonymous"></script>
{% endblock body %}