{% extends 'base.html' %}

{% block head %}

<div class="Container3">
    <div>
        <h1>A safe choice and easy at hand</h1>
    </div>
</div>

{% endblock %}

{% block body %}
<div class="circle" align="center">
    <button class="btn">Home</button>
</div> 
    
<div class="up">
<div>
    <h1 align="center">JOIN THE FAMILY</h1>
<form action="/family" align="center" method="POST">
    <div>
        <i class="fa-solid fa-user"></i>
        <input class="king1" type="Name" placeholder="Name" name="name">
    </div>
    <div>
        <i class="fa-solid fa-phone"></i>
        <input class="king1" type="Phone" placeholder="Phone" phone="phone">
    </div>
    <div>
        <i class="fa-solid fa-envelope"></i>
        <input class="king1" type="Email" placeholder="Email" email="email">
    </div>
    <div>
        <i class="fa-solid fa-house"></i>
        <input class="king1" type="Company" placeholder="Company" company="company">
    </div>
    <div>
        <i class="fa-solid fa-location-dot"></i>
        <input class="king1" type="Adress" placeholder="Address" address="address">
    </div>
    <br>
    <button>JOIN</button>
</form>
</div>
<form action="">
<div class="loadimage">
<div class="forbutton">
    upload image 
</div>
<br>
<div>
    Position <br>  <input type="text" class="king2" placeholder="Enter position">
</div>
<br>
<div>
    Payment <br>  <input type="text" class="king2" placeholder="Enter Payment">
</div>
<br>
<div>
    Location <br>  <input type="text" class="king2" placeholder="Enter your address">
</div>
<br> <br>
<button>Next</button>
</div>

</form>


<div align="left", class="prince">
    GET INTOUCH <br>
     Email: <br> <a href="https://mail.google.com/"> Princeavy40@gmail.com </a>
 </div>


</div>
<script src="https://kit.fontawesome.com/b083fddeb6.js" crossorigin="anonymous"></script>
{% endblock %}