{% extends 'base.html' %}

{% block head %}

<div class="Container3">
    <div>
        <h1>A safe choice and easy at hand</h1>
    </div>
</div>

{% endblock %}

{% block body %}
<div class="circle" align="center">
    <button class="btn">Home</button>
</div> 
    
<div class="up">
<div>
    <h1 align="center">JOIN THE FAMILY</h1>
<form action="/upload" align="center">
    <div>
        <i class="fa-solid fa-user"></i>
        <input type="Name" placeholder="Name">
    </div>
    <div>
        <i class="fa-solid fa-phone"></i>
        <input type="Phone" placeholder="Phone">
    </div>
    <div>
        <i class="fa-solid fa-envelope"></i>
        <input type="Email" placeholder="Email">
    </div>
    <div>
        <i class="fa-solid fa-house"></i>
        <input type="Company" placeholder="Company">
    </div>
    <div>
        <i class="fa-solid fa-location-dot"></i>
        <input type="Adress" placeholder="Adress">
    </div>
    <br>
    <button>JOIN</button>
</form>
</div>
<form action="">
<div class="loadimage">
<div class="forbutton">
    upload image 
</div>
<br>
<div>
    position <br>  <input type="text" class="king2">
</div>
<br>
<div>
    Payment <br>  <input type="text" class="king2">
</div>
<br>
<div>
    Location <br>  <input type="text" class="king2">
</div>
<br> <br>
<button>Next</button>
</div>

</form>


<div align="left", class="prince">
    GET INTOUCH <br>
     Email: <br> <a href="https://mail.google.com/"> Princeavy40@gmail.com </a>
 </div>


</div>
<script src="https://kit.fontawesome.com/b083fddeb6.js" crossorigin="anonymous"></script>
{% endblock %}