{% extends 'base.html' %}

{% block head %}

<div class="Container3">
    <div>
        <h1>A safe choice and easy at hand</h1>
    </div>
</div>

{% endblock %}

{% block body %}
<div class="circle" align="center">
    <button class="btn">Home</button>
</div> 
    
<div class="up">
<div>
    <h1 align="center">JOIN THE FAMILY</h1>
<form action="/family" align="center" method="POST">
    <div>
        <i class="fa-solid fa-user"></i>
        <input class="king1" type="text" placeholder="Name" name="name">
    </div>
    <div>
        <i class="fa-solid fa-phone"></i>
        <input class="king1" type="number" placeholder="Phone" name="phone">
    </div>
    <div>
        <i class="fa-solid fa-envelope"></i>
        <input class="king1" type="email" placeholder="Email" name="email">
    </div>
    <div>
        <i class="fa-solid fa-house"></i>
        <input class="king1" type="text" placeholder="Company" name="company">
    </div>
    <div>
        <i class="fa-solid fa-location-dot"></i>
        <input class="king1" type="password" placeholder="password" name="password">
    </div>
    <br>
    <button>JOIN</button>
</form>
</div>
<form action="/post_job" method="POST">
<div class="loadimage">

<div class="forbutton">

    <form action="/action_page_binary.asp" method="post" enctype="multipart/form-data">
        <input type="file", name="image"> 
      </form>

</div>
<br>
<div>
    Position <br>  <input type="text" class="king2" placeholder="Enter position" name="position">
</div>
<br>
<div>
    Payment <br>  <input type="number" class="king2" placeholder="Enter Payment" name="payment">
</div>
<br>
<div>
    Location <br>  <input type="text" class="king2" placeholder="Enter your address" name="location">
</div>
<br> <br>
<button>Next</button>
</div>

</form>


<div align="left", class="prince">
    GET INTOUCH <br>
     Email: <br> <a href="https://mail.google.com/"> Princeavy40@gmail.com </a>
 </div>


</div>
<script src="https://kit.fontawesome.com/b083fddeb6.js" crossorigin="anonymous"></script>
{% endblock %}